<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmput301f20t21.bookfriends">
    <!-- Adding Read External Storage Permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.cmput301f20t21.bookfriends.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cmput301f20t21.bookfriends.ui.scanner.ScannerAddActivity"
            android:label="@string/title_scanner_add"
            android:parentActivityName=".ui.add.AddEditActivity"
            >
        </activity>
        <activity
            android:name="com.cmput301f20t21.bookfriends.ui.profile.ProfileViewUserActivity"
            android:parentActivityName=".MainActivity"
            >
        </activity>
        <activity
            android:name="com.cmput301f20t21.bookfriends.ui.login.LoginActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.add.AddEditActivity"
            android:label="@string/add_edit">
        </activity>
        <activity android:name=".ui.library.DetailLibraryActivity"
            android:label="@string/view">
        </activity>
        <activity
            android:name="com.cmput301f20t21.bookfriends.ui.login.CreateAccountActivity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.cmput301f20t21.bookfriends.ui.login.LoginActivity" >

        </activity>
        <activity
            android:name="com.cmput301f20t21.bookfriends.ui.borrow.DetailAcceptedActivity"
            android:label="@string/accepted_detail">
        </activity>
        <activity
            android:name="com.cmput301f20t21.bookfriends.ui.browse.DetailBrowseActivity"
            android:label="@string/browse_detail">
        </activity>

        <activity
            android:name="com.cmput301f20t21.bookfriends.ui.borrow.DetailRequestedActivity"
            android:label="@string/requested_detail">
        </activity>
        <activity
            android:name="com.cmput301f20t21.bookfriends.ui.library.DetailBorrowedActivity"
            android:label="@string/borrowed_detail">
        </activity>
        <activity android:name=".ui.request.RequestActivity"
            android:label="Requests">


        </activity>

    </application>

</manifest>